<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('FAQ', admins_faqs_path) %>
<% end %>

<div class="box search-form-container faq-list-form">
  <%= form_tag(admins_faqs_path, method: :get, class: 'form-inline search-form flex-1', remote: true) do %>
    <%= text_field_tag(:keyword, params[:keyword], class: 'form-control col-sm-2 ml-3', placeholder: '输入标题搜素') %>
    <%= submit_tag('搜索', class: 'btn btn-primary ml-3', 'data-disable-with': '搜索中...') %>
  <% end %>
  <%= link_to "新增", new_admins_faq_path, remote: true, class: "btn btn-primary pull-right", "data-disabled-with":"...新增" %> 
</div>

<div class="box admin-list-container faqs-list-container">
  <%= render partial: 'admins/faqs/list', locals: { faqs: @faqs } %>
</div>
<div id="faq-modals">
</div>