<td>
  <li class="set_l_main">
    <div class="set_l_premenu">
      <span class="ml10 max-width-300" onclick="first_menu_click(this)">
         <i class="fa fa-plus-square-o color-grey-6"></i>
          <span class="ml5"><%= forum.try(:title) %></span>
      </span>
      <span href="javascript:void(0)" class="menu_operate ml20" onclick="first_menu_action(this)">
        <i class="iconfont icon-sandian color-grey-6 font-12">
        </i>
        <div class="operateList">
          <%= link_to "重命名", edit_admins_forum_section_path(forum), remote: true %>
          <%= link_to "删除", admins_forum_section_path(forum),method: :delete, data:{confirm: "确认删除吗?"}, remote: true %>
          <%= link_to "新增子版块".html_safe, new_admins_forum_section_path(parent_id: forum.id),remote: true %>
          <% if forum&.position.to_i != @min_position %>
            <%= link_to "下移",move_admin_forum_section_path(forum,opr:"down"), method: :post, remote: true %>
          <% end %>
          <% if forum&.position.to_i != @max_position %>
            <%= link_to "上移",move_admin_forum_section_path(forum,opr:"up"), method: :post, remote: true %>
          <% end %>
        </div>
      </span>
    </div>
    <div id="children-forum-section-<%= forum.id %>">
      <%= render partial: "admins/forum_sections/children_forum_sections", locals: {children_forums: forum.get_children_section("desc")} %>
    </div>
  </li>
</td>
<td id="forum-section-recommend-<%= forum.id %>">
  <%= render partial: "admins/forum_sections/recommend_forum_sections", locals: {forum: forum} %>
</td>
<td>
  <div class="grid-item pbt5">
    <div class="grid-item-1">
      <%= link_to "<i class='fa fa-plus-square-o'></i>".html_safe,new_admins_forum_section_forum_moderator_path(forum), class: "font-20 color-blue mr10", title: "添加版主", remote: true %>
    </div>
    <div class="width100 inline-block edu-txt-left" id="forum_sections_moderators_<%= forum.id %>">
      <%= render partial: "admins/forum_moderators/forum_moderator_item", locals: {users: forum.forum_moderators, forum: forum} %>
    </div>
  </div>

</td>