<%= form_with(model: edu_setting, local: true) do |form| %>
  <% if edu_setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edu_setting.errors.count, "error") %> prohibited this edu_setting from being saved:</h2>

      <ul>
      <% edu_setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
