<table class="table table-hover text-center subject-list-table">
  <thead class="thead-light">
  <tr>
    <th width="5%">序号</th>
    <th width="15%">名称</th>
    <th width="35%">简介</th>
    <%
=begin%>
 <th width="10%"><%= sort_tag('项目数', name: 'projects_count', path: admins_project_licenses_path) %></th> 
<%
=end%>
    <th width="15%"><%= sort_tag('创建时间', name: 'created_at', path: admins_project_licenses_path) %></th>
    <th width="20%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% if project_licenses.present? %>
    <% project_licenses.each_with_index do |project_license, index| %>
      <tr class="project-language-item-<%= project_license.id %>">
        <td><%= list_index_no((params[:page] || 1).to_i, index) %></td>
        <td>
          <%= link_to project_license.name, admins_project_license_path(project_license.id), remote: true %>
        </td>
        <td>
            <%= project_license.content.to_s.truncate(200) %>
        </td>
        <%
=begin%>
 <td><%= project_license.projects_count %></td> 
<%
=end%>
        <td><%= project_license.created_at&.strftime('%Y-%m-%d %H:%M') %></td>
        <td class="action-container">
        <%= link_to "编辑", edit_admins_project_license_path(project_license),remote: true, class: "action" %>
        <%= link_to "删除", admins_project_license_path(project_license), method: :delete, data:{confirm: "确认删除的吗？"}, class: "action" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <%= render 'admins/shared/no_data_for_table' %>
  <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: project_licenses } %>