<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('课程列表') %>
<% end %>

<div class="box search-form-container course-list-list-form">
  <%= form_tag(admins_course_lists_path, method: :get, class: 'form-inline search-form flex-1', remote: true) do %>
    <div class="form-group">
      <label>搜索类型：</label>
      <% auto_trial_options = [['创建者姓名', 0], ['课程名称', 1]] %>
      <%= select_tag(:search_type, options_for_select(auto_trial_options), class: 'form-control') %>
    </div>
    <%= text_field_tag(:keyword, params[:keyword], class: 'form-control col-sm-2 ml-3', placeholder: '输入关键字搜索') %>
    <%= submit_tag('搜索', class: 'btn btn-primary ml-3','data-disable-with': '搜索中...') %>
    <%= link_to "清除",admins_course_lists_path,class: "btn btn-default",id:"course-lists-clear-search",'data-disable-with': '清除中...' %>
  <% end %>
</div>

<div class="box admin-list-container course-list-list-container">
  <%= render partial: 'admins/course_lists/shared/list', locals: { courses: @course_lists } %>
</div>

<%= render 'admins/course_lists/shared/merge_course_list_modal' %>