<td><%= list_index_no((params[:page] || 1).to_i, index) %></td>
<td><%= apply.id %></td>
<td class="text-left"><%= overflow_hidden_span apply.name %></td>
<td class="text-left">
  <%= "#{apply&.province.to_s}"+"#{apply&.city.to_s}" %>
</td>
<td class="text-left"><%= overflow_hidden_span apply.address %></td>
<td><%= link_to apply&.user&.real_name, "/users/#{apply&.user&.login}", target: "_blank" %></td>
<td><%= format_time apply.created_at %></td>
<td class="action-container">
  <%= agree_link '批准', agree_admins_unit_apply_path(apply, element: ".unit-apply-#{apply.id}"), 'data-confirm': '确认批准通过？' %>
  <%= javascript_void_link('删除', class: 'action refuse-action',
                           data: {
                               toggle: 'modal', target: '.admin-common-refuse-modal', id: apply.id, title: "删除原因", type: "delete",
                               url: admins_unit_apply_path(apply, tip: "unapplied", element: ".unit-apply-#{apply.id}")
                           }) %>
  <%= link_to "更改",edit_admins_unit_apply_path(apply), remote: true, class:"action",'data-disable-with': '打开中...' %>
</td>