<div class="modal fade admin-unit-edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">修改申请</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_tag(admins_unit_apply_path, method: :put, remote: true) do %>
        <div class="modal-body">
          <div class="form-group d-flex">
            <label for="school_id" class="col-form-label">更改学校：</label>
            <div class="d-flex flex-column-reverse w-75">
              <%= select_tag :school_id, [apply&.school_id], class: 'form-control school-select optional',id: "all-schools" %>
            </div>
          </div>
          <div class="form-group d-flex">
            <label for="school_id" class="col-form-label">更改城市：</label>
            <div class="d-flex w-75 province-city-select">
              <div class="w-50 mr-3">
                <%= select_tag('province', [], class: 'form-control province-select optional', 'data-value': apply.province, 'data-first-title': '请选择', id:"show-province-#{apply.id}") %>
              </div>
              <div class="w-50">
                <%= select_tag('city', [], class: 'form-control city-select optional', 'data-value': apply.city, id: "schoolCity_#{apply.id}") %>
              </div>
            </div>
          </div>
          <div class="form-group d-flex">
            <label for="school_id" class="col-form-label">更改地址：</label>
            <div class="d-flex w-75 flex-column-reverse">
              <%= text_field_tag :address,apply.address,class:"form-control" %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
          <%= submit_tag "确认",class:"btn btn-primary" %>
        </div>
        <% end %>
    </div>
  </div>
</div>