<table class="table table-hover text-center unit-applies-list-table">
  <thead class="thead-light">
  <tr>
    <th width="4%">序号</th>
    <th width="8%">ID</th>
    <th width="20%" class="text-left">单位名称</th>
    <th width="8%" class="text-left">地区</th>
    <th width="20%" class="text-left">详细地址</th>
    <th width="10%">申请者</th>
    <th width="15%"><%= sort_tag('创建于', name: 'created_at', path: admins_unit_applies_path) %></th>
    <th width="15%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% if applies.present? %>
    <% applies.each_with_index do |apply, index| %>
      <tr class="unit-apply-<%= apply.id %>">
        <%= render partial: "admins/unit_applies/shared/apply_item", locals: {apply: apply, index: index} %>
      </tr>
    <% end %>
  <% else %>
    <%= render 'admins/shared/no_data_for_table' %>
  <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: applies } %>