<div class="edu-class-container edu-position">
  <p class="mb10 font-14">
    <i class="fa fa-map-marker mr5 color-grey"></i>
    <a href="<%= user_path(@user) %>"><%= @user.show_real_name %></a>  &gt; <a href="<%= forums_path %>">讨论区 </a> &gt; 新建
  </p>
  <div class="edu-con-top user_bg_shadow bor-grey-e">
    <p class="ml15 color-grey3">新建话题</p>
  </div>
  <div class="edu-con-bg01 mt15 user_bg_shadow bor-grey-e pt30 pb30">
    <%#= labelled_form_for(@memo, :url => forum_memos_path(@forum)) do |f|  %>
    <%= form_for @memo, :url =>  forum_memos_path(@forum), :html => {:multipart => true, :id => 'memo-form'} do |f| %>
        <%= render :partial => "memos/form", :locals => {:f => f, :edit => false} %>
    <% end %>
  </div>
</div>