<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('统计总表', admins_daily_school_statistics_path) %>
<% end %>

<div class="box search-form-container daily-school-statistic-list-form">
  <%= form_tag(admins_daily_school_statistics_path, method: :get, class: 'form-inline search-form', remote: true) do %>
    <%= text_field_tag(:keyword, params[:keyword], class: 'form-control col-sm-2 ml-3', placeholder: 'ID/单位名称搜索') %>
    <%= submit_tag('搜索', class: 'btn btn-primary ml-3', 'data-disable-with': '搜索中...') %>
  <% end %>

  <%#= link_to '导出Excel', export_admins_daily_school_statistics_path(format: :xlsx), class: 'btn btn-outline-primary export-action' %>
  <%= javascript_void_link '导出Excel', class: 'btn btn-outline-primary export-action', 'data-url': export_admins_daily_school_statistics_path(format: :xlsx) %>
</div>

<div class="box py-0 pt-4 pl-4">
  统计总计：
  教师总人数<span class="text-danger"><%= @teacher_total %></span>人，
  学生总人数<span class="text-danger"><%= @student_total %></span>人，
  课堂总数<span class="text-danger"><%= @course_total %></span>个，
  正在进行课堂总数<span class="text-danger"><%= @active_course_total %></span>个，
  实训总数<span class="text-danger"><%= @shixun_total %></span>个，
  实训评测总数<span class="text-danger"><%= @shixun_evaluate_total %></span>个，
  实训作业总数<span class="text-danger"><%= @shixun_homework_total %></span>个，
  其它作业总数<span class="text-danger"><%= @other_homework_total %></span>个
</div>

<div class="box admin-list-container daily-school-statistic-list-container">
  <%= render partial: 'admins/daily_school_statistics/shared/list', locals: { statistics: @statistics } %>
</div>