<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('课程配置') %>
<% end %>

<div class="box search-form-container subject-setting-list-form">
  <%= form_tag(admins_subject_settings_path, method: :get, class: 'form-inline search-form flex-1', remote: true) do %>
    <div class="form-group mr-1">
      <label for="status">状态：</label>
      <% status_options = [['全部', ''], ['编辑中', 'pending'], ['审核中', 'applying'], ['已公开', 'published']] %>
      <%= select_tag(:status, options_for_select(status_options), class: 'form-control') %>
    </div>

    <div class="form-group col-12 col-md-3">
      <label for="school_name">单位：</label>
      <%= select_tag :school_id, options_for_select([''], params[:school_id]), class: 'form-control school-select flex-1' %>
    </div>

    <%= text_field_tag(:keyword, params[:keyword], class: 'form-control col-12 col-md-2 mr-3', placeholder: '创建者/课程名称检索') %>

    <div class="form-check mr-2">
      <%= hidden_field_tag(:homepage_show, false, id:'') %>
      <%= check_box_tag(:homepage_show, true, params[:homepage_show].to_s == 'true', class: 'form-check-input') %>
      <label class="form-check-label" for="homepage_show">只看首页展示</label>
    </div>

    <div class="form-check mr-2">
      <%= hidden_field_tag(:excellent, false, id:'') %>
      <%= check_box_tag(:excellent, true, params[:excellent].to_s == 'true', class: 'form-check-input') %>
      <label class="form-check-label" for="excellent">只看金课</label>
    </div>

    <%= submit_tag('搜索', class: 'btn btn-primary ml-3', 'data-disable-with': '搜索中...') %>
    <input type="reset" class="btn btn-secondary clear-btn" value="清空"/>
  <% end %>
</div>

<div class="box admin-list-container subject-setting-list-container">
  <%= render partial: 'admins/subject_settings/shared/list', locals: { subjects: @subjects } %>
</div>

<%= render partial: 'admins/shared/modal/upload_file_modal', locals: { title: '上传图片', accept: 'image/*' } %>