<% define_admin_breadcrumbs do %>
  <% add_admin_breadcrumb('用户管理', admins_users_path) %>
<% end %>

<div class="box search-form-container user-list-form">
  <%= form_tag(admins_users_path, method: :get, class: 'form-inline search-form flex-1', remote: true) do %>
    <div class="form-group mr-2">
      <label for="status">状态：</label>
      <% status_options = [['全部', ''], ['正常', User::STATUS_ACTIVE], ['未激活', User::STATUS_REGISTERED], ['已锁定', User::STATUS_LOCKED]] %>
      <%= select_tag(:status, options_for_select(status_options), class: 'form-control') %>
    </div>

    <div class="form-group mr-2">
      <label for="identity">职业：</label>
      <% identity_options = [['全部', ''], ['教师', 0], ['学生', 1], ['专业人士', 2]] %>
      <%= select_tag(:identity, options_for_select(identity_options), class: 'form-control') %>
    </div>

    <div class="form-group mr-2">
      <label for="identity">授权类型：</label>
      <% auto_trial_options = [['全部', ''], ['自动授权', 1], ['手动授权', 0]] %>
      <%= select_tag(:auto_trial, options_for_select(auto_trial_options), class: 'form-control') %>
    </div>

    <%= text_field_tag(:keyword, params[:keyword], class: 'form-control col-sm-2 ml-3', placeholder: 'ID/姓名/邮箱/手机号检索') %>
    <%
=begin%>
 <%= text_field_tag(:school_name, params[:school_name], class: 'form-control  col-sm-2', placeholder: '学校/单位检索') %> 
<%
=end%>
    <%= submit_tag('搜索', class: 'btn btn-primary ml-3', 'data-disable-with': '搜索中...') %>
  <% end %>

  <%= javascript_void_link '导入用户', class: 'btn btn-secondary btn-sm', data: { toggle: 'modal', target: '.admin-import-user-modal'} %>
  <%
=begin%>
 <%= javascript_void_link '导入课堂成员', class: 'btn btn-secondary btn-sm ml-2', data: { toggle: 'modal', target: '.admin-import-course-member-modal'} %> 
<%
=end%>
</div>

<div class="box admin-list-container users-list-container">
  <%= render partial: 'admins/users/shared/user_list', locals: { users: @users } %>
</div>

<%= render partial: 'admins/users/shared/reward_grade_modal' %>
<%= render partial: 'admins/users/shared/import_user_modal' %>

<!-- TODO: move to course list page -->
<%= render partial: 'admins/courses/shared/import_course_member_modal' %>