<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @sponsorship.amount %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @sponsorship.visible %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @sponsorship.sponsor_id %>
</p>

<p>
  <strong>Developer:</strong>
  <%= @sponsorship.developer_id %>
</p>

<%= link_to 'Edit', edit_sponsorship_path(@sponsorship) %> |
<%= link_to 'Back', sponsorships_path %>
