<table class="table table-hover text-center subject-list-table">
  <thead class="thead-light">
  <tr>
    <th width="5%">序号</th>
    <th width="20%">标题</th>
    <th width="20%">跳转地址</th>
    <th width="20%">图片</th>
    <th width="20%">排序等级</th>
    <th width="25%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% if cooperators.present? %>
    <% cooperators.each_with_index do |cooperator, index| %>
      <tr class="cooperator-item-<%= cooperator.id %>">
        <td><%= list_index_no((params[:page] || 1).to_i, index) %></td>
        <td><%= cooperator.title %></td>
        <td><%= cooperator.url %></td>
        <td><img style="width:150px" src="<%= cooperator.image %>" /></td>
        <td><%= cooperator.order_index %></td>
        <td class="action-container">
          <%= link_to "编辑", edit_admins_topic_cooperator_path(cooperator), remote: true, class: "action" %>
          <%= link_to "删除", admins_topic_cooperator_path(cooperator), method: :delete, data:{confirm: "确认删除的吗？"}, class: "action" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <%= render 'admins/shared/no_data_for_table' %>
  <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: cooperators } %>