<table class="table table-hover users-list-table">
  <thead class="thead-light">
    <tr>
      <th width="4%">序号</th>
      <th width="10%">手机号码</th>
      <th width="12%">状态</th>
    </tr>
  </thead>
  <tbody>
    <% if phenglei_users.present? %>
      <% phenglei_users.each_with_index do |user, index| %>
        <tr class="user-item-<%= user.id %>">
          <td><%= list_index_no((params[:page] || 1).to_i, index) %></td>
          <td><%= overflow_hidden_span display_text(user.phone), width: 100 %></td>
          <td>
            <% if user.register.present? %>
              <%= @phenglei_project.member?(user.register.id) ? "已同步" : "未同步" %>
            <% else %>
              未注册
            <% end %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <%= render 'admins/shared/no_data_for_table' %>
    <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: phenglei_users } %>
