<table class="table table-hover daily-school-statistic-list-table">
  <thead class="thead-light">
  <tr>
    <th width="4%">序号</th>
    <th width="12%" class="text-left">单位名称</th>
    <th width="10%"><%= sort_tag('教师总数', name: 'teacher_count', path: admins_daily_school_statistics_path) %></th>
    <th width="10%"><%= sort_tag('学生总数', name: 'student_count', path: admins_daily_school_statistics_path) %></th>
    <th width="10%"><%= sort_tag('课堂总数', name: 'course_count', path: admins_daily_school_statistics_path) %></th>
    <th width="14%"><%= sort_tag('正在进行课堂数', name: 'active_course_count', path: admins_daily_school_statistics_path) %></th>
    <th width="10%"><%= sort_tag('实训总数', name: 'shixun_count', path: admins_daily_school_statistics_path) %></th>
    <th width="13%">
      <%= sort_tag(name: 'shixun_evaluate_count', path: admins_daily_school_statistics_path) do %>
        实训评测总数
        <i class="fa fa-question-circle" data-toggle="tooltip" data-html="true" data-placement="top" title="数据更新时间为<br/>当日6点、12点、18点、24点"></i>
      <% end %>
    </th>
    <th width="11%"><%= sort_tag('实训作业总数', name: 'homework_count', path: admins_daily_school_statistics_path) %></th>
    <th width="11%"><%= sort_tag('其它作业总数', name: 'other_homework_count', path: admins_daily_school_statistics_path) %></th>
    <th width="9%"><%= sort_tag('动态时间', name: 'nearly_course_time', path: admins_daily_school_statistics_path) %></th>
  </tr>
  </thead>
  <tbody>
  <% if statistics.present? %>
    <% statistics.each_with_index do |statistic, index| %>
      <tr>
        <td><%= list_index_no(@params_page.to_i, index) %></td>
        <td class="text-left">
          <%= link_to statistic[:name], "/colleges/#{statistic[:id]}/statistics",
                      target: '_blank', data: { toggle: 'tooltip', title: '点击查看学校统计概况' } %>
        </td>
        <td><%= statistic[:teacher_count].to_i %></td>
        <td><%= statistic[:student_count].to_i %></td>
        <td><%= statistic[:course_count].to_i %></td>
        <td><%= statistic[:active_course_count].to_i %></td>
        <td><%= statistic[:shixun_count].to_i %></td>
        <td><%= statistic[:shixun_evaluate_count].to_i %></td>
        <td><%= statistic[:homework_count].to_i %></td>
        <td><%= statistic[:other_homework_count].to_i %></td>
        <td><%= statistic[:nearly_course_time]&.strftime('%Y-%m-%d %H:%M') %></td>
      </tr>
    <% end %>
  <% else %>
    <%= render 'admins/shared/no_data_for_table' %>
  <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: statistics } %>