<table class="table table-hover text-center subject-list-table">
  <thead class="thead-light">
  <tr>
    <th width="5%">序号</th>
    <th width="30%">名称</th>
    <th width="20%"><%= sort_tag('项目数', name: 'projects_count', path: admins_project_languages_path) %></th>
    <th width="20%"><%= sort_tag('创建时间', name: 'created_at', path: admins_project_languages_path) %></th>
    <th width="25%">操作</th>
  </tr>
  </thead>
  <tbody>
  <% if project_languages.present? %>
    <% project_languages.each_with_index do |project_language, index| %>
      <tr class="project-language-item-<%= project_language.id %>">
        <td><%= list_index_no((params[:page] || 1).to_i, index) %></td>
        <td>
          <%= link_to(project_language.name, "javascript:void(0)") %>
        </td>
        <td><%= project_language.projects_count %></td>
        <td><%= project_language.created_at&.strftime('%Y-%m-%d %H:%M') %></td>
        <td class="action-container">
        <%= link_to "编辑", edit_admins_project_language_path(project_language), remote: true, class: "action" %>
        <%= link_to "删除", admins_project_language_path(project_language), method: :delete, data:{confirm: "确认删除的吗？"}, class: "action" %>
        </td>
      </tr>
    <% end %>
  <% else %>
    <%= render 'admins/shared/no_data_for_table' %>
  <% end %>
  </tbody>
</table>

<%= render partial: 'admins/shared/paginate', locals: { objects: project_languages } %>