<!DOCTYPE html>
<html>
<head>
  <title>EduCoder</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'college', media: 'all','data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'college', 'data-turbolinks-track': 'reload' %>
</head>

<% body_class = [params[:controller].gsub(/\//, '-').gsub('_', '-'), params[:action].gsub(/\//, '-').gsub('_', '-'), 'page'].join('-') %>
<body class="<%= body_class %>">
<%= render 'colleges/shared/navbar' %>
<!-- Page Content  -->
<div class="college-body-container">
  <%= yield %>
</div>
</body>
</html>
