<!DOCTYPE html>
<html>
  <head>
    <title><%= current_laboratory.laboratory_setting&.name || 'EduCoder' %>-后台管理</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='shortcut icon' type='image/x-icon' href='<%= current_setting_or_default(:tab_logo_url) %>' />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'cooperative', media: 'all','data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'cooperative', 'data-turbolinks-track': 'reload' %>
  </head>

  <% body_class = [params[:controller].gsub(/\//, '-').gsub('_', '-'), params[:action], 'page'].join('-') %>
  <body class="<%= body_class %>">
    <!-- Sidebar  -->
    <%= render partial: 'cooperative/shared/sidebar' %>

    <!-- Page Content  -->
    <div class="cooperative-body-container">
      <div class="cooperative-alert-container">
        <%= render 'shared/flash_notice' %>
      </div>

      <div class="cooperative-breadcrumb-container">
        <%= yield :setup_breadcrumb %>
        <%= render(partial: 'shared/breadcrumb') %>
      </div>

      <div class="content">
        <%= yield %>
      </div>
    </div>

    <div class="cooperative-modal-container"></div>

    <!-- message modal -->
    <%= render 'cooperative/shared/modal/message_modal' %>
  </body>
</html>
