<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag '/javascripts/jquery-1.8.3-ui-1.9.2-ujs-2.0.3', '': '' %>
    <%= stylesheet_link_tag '/stylesheets/css/oauth', '', :media => 'all' %>
  </head>
  <body>
    <div class="IndexContent">
      <%= image_tag('/images/oauth/logo.png') %>
      <%= yield %>
    </div>
  </body>
</html>
